.container {
  padding: 0 15px 15px 15px;
  width: 100%;

  h2 {
    margin: 10px 0;
    width: 100%;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    &:after {
      content: "";
      height: 1px;
      background: rgba(31, 31, 31, 0.37);
      position: absolute;
    }
  }

  display: flex;
  flex-direction: column;
}
