.container {
  display: flex;
  width: 100vw;
  padding: 25px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid rgba(227, 227, 227, 0.94);
  @media (max-width: 900px) {
    justify-content: space-between;
  }

  img {
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }
  }

  .mobileNav {
    display: none;
    @media (max-width: 900px) {
      display: block;
    }
  }

  nav {
    display: flex;
    column-gap: 25px;


    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
      transition: 250ms ease;

      &:hover {
        color: #00a900;
      }
    }


    @media (max-width: 900px) {
      column-gap: 5px;
      a {
        font-size: 14px;
      }
    }
  }

}
